<h1 mat-dialog-title>Pls Enter Username and Password</h1>
<div mat-dialog-content [formGroup]="form" style="text-align: center">
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Old Password" formControlName="oldPassword">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="New Password" formControlName="newPassword">
    </mat-form-field>
  </p>
  <p *ngIf="isError" class="error" style="color: red">
    {{ message }}
  </p>
  <p *ngIf="isSucess" class="error" style="color: green">
    {{ message }}
  </p>
</div>
<div  mat-dialog-actions>
  <button style="margin-right: auto; margin-left: auto" mat-button mat-dialog-close>Close</button>
  <button style="margin-right: auto; margin-left: auto" mat-button cdkFocusInitial (click)="submit()">Load Data</button>
</div>
