<button type="submit" style="margin-top: 5px; alignment: right" color="secondary" (click)="getAllData()" mat-raised-button>Reload</button>
<button style="margin-top: 5px; float: right" color="secondary" (click)="changePassword()" mat-raised-button>Change Password</button>
<h1 style="text-align: center">YOUR USER DATA</h1>
<table style="margin-left: auto; margin-right: auto">
  <tr style="text-align: left">
    <th>Username</th>
    <th>Email</th>
  </tr>
  <tr *ngIf="currentUser">
    <td>{{currentUser.username}}</td>
    <td>{{currentUser.email}}</td>
  </tr>
</table>
<div *ngIf="isAdmin">
<h1 style="text-align: center; margin-top: 50px">USER DATA OF ALL USERS</h1>
<table style="margin-left: auto; margin-right: auto">
  <tr style="text-align: left">
    <th>Username</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>
</div>

