#card{
  position: absolute;
  top:  50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.loginInput{
  font-size: 20pt;
  alignment: center;
}

.button{
  text-align: center;
}
