<div id="out">
  <mat-card id="card">
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (submit)="submit()">
        <p>
          <mat-form-field appera>
            <input class="loginInput" type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input class="loginInput" type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input class="loginInput" type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>
        <p *ngIf="isError" class="error">
          {{ errorMessage }}
        </p>

        <div class="button">
          <button type="submit" color="primary" mat-raised-button>Register</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
